/* 
    Document   : aaa
    Created on : 12.11.2010, 10:52:22
    Author     : goldzi
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
    color: white;
}
main {
    margin-right: 10px;
}

