/* 
    Document   : css
    Created on : 12.11.2010, 11:47:06
    Author     : goldzi
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    color: blue;
}

